body {
  background: radial-gradient(circle, #e5c7f7 0%, #E0AAFF 10%, #C77DFF 20%, #9D4EDD 30%, #7B2CBF 40%, #5A189A 50%, #3C096C 60%, #240046 70%, #10002B 80%, #090017 90%);
 width: 100%;

 height: 100vh;
}
.content-container{
 font-family: 'Arial', sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100vh;
}